<div class="home">
    <div class="header">
        <h1>Dashboard</h1>
        <div class="content">
            <div class="total-task-chart">
                <div class="chart" style="width: 400px;">
                    <div style="display: block">
                    <canvas 
                        baseChart
                        [data]="doughnutChartData"
                        [type]="'doughnut'"
                        [options]="chartOptions"
                    ></canvas>    
                </div>
                <div class="total-task">
                    <p class="data">100</p>
                    <p class="data-type">Tasks</p>
                </div>
            </div>
            <div class="total-task-analytics">
                <div class="display"></div>
                <div>
                    <p class="data">12%</p>
                    <!-- <p class="data-type">{{typecount.type}}</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<app-list></app-list>